.container {
  max-width: 52.5rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  span.category {
    display: block;
    margin-top: 2rem;
    margin-left: 20px;

    font-size: 2.25rem;
    font-weight: 600;
    color: var(--gray);
  }

  span {
    color: var(--white);
  }
}

main {
  width: 100%;
  margin-top: 5.625rem;
  padding: 0 20px;

  .movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    list-style: none;
  }
}